
<%= form_for @fd, :html => {:multipart => true} do |f| %>  
 
<% if @fd.errors.any? %>
<h4>Couldn't open FD Account</h4>
<ul>
<% @fd.errors.full_messages.each do |error| %>
<li><%= error %></li>
<% end %>
</ul>
<% end %>
    <%= f.label :deposit_amount %>
    <%= f.text_field :depamt, :placeholder =>'0.00' %>
   
    <%= f.label :opened_on %>
    <%= f.text_field :openedon, :disabled => true, :value => Date.today.strftime("%d/%m/%Y") %>

    <%= f.label :No_of_years %>
    <%= f.select :noy, options_for_select(%w[6months 1year 2years 3years 4years 5years]), { :include_blank => true}  %>

    <%= f.label :Rate_of_interest %>
    <%= f.select :roi, options_for_select(%w[9.0% 9.5% 10.0% 10.5% 11.0% 11.5% 11.75%]), { :include_blank => true}  %>   
  </div>
    <%= f.submit "Open FD", class: "btn btn-primary" %>     
    <% end %>
  </div>
</div>
