<style>
body{
background: url(/assets/cash.jpg) no-repeat;
background-position: center right;
}
</style>

<h2>Fixed Deposit </h2>

<div> 
  <%= link_to "Open FD Account", fds_new_path, class: "btn btn-primary" %> </div>
</br>

<table cellpadding = "5" cellspacing ="5" >
  <tr>            
    <th>Opened On</th>
    <th>Customer Name</th>    
    <th>Deposit Amount</th> 
    <th>Customer Age</th>
    <th>Rate Of Interest</th>     
    <th>No Of Months</th>
    <th>Monthly Interest</th>
    <th>Maturity Date</th>       
  </tr>
  <% @fd.each do |f| %>
    <tr>                
      <td><%= f.openedon.strftime("%d/%m/%Y")%></td>
      <td><%= link_to f.cusna, fd_path(f) %></td>  
      <td><%= f.depamt %></td>
      <td><%= f.age %></td>
      <td><%= f.roi %>%</td>
      <td><%= f.noy %></td>
      <td><%= f.interest %></td>
      <td><%= f.md.strftime("%d/%m/%Y") %></td>      
      <% end %></td>         
    </tr>  
</table>
<br/>
