<style>
body{
padding-top: 60px;
background: url(/assets/moneybag.jpg) no-repeat;
background-position: center;
background-size: 100%;
}
</style>

<br />
<h1><%= link_to "Fixed Deposit", fds_path %></h1>
<br />
<div class="jumbotron">
<h5><strong>Customer Name</strong> : <%= @fd.cusna %></h5>
<h5><strong>Age</strong> : <%= @fd.age %></h5>

<div class = "span6 offset6">
      <%= link_to(edit_fd_path(@fd), class: "btn btn-primary") do %>
   <i class="icon-pencil icon-white"> </i> Edit
   <% end %>
   <%= link_to(fd_path(@fd), class: "btn btn-danger", method: :delete, confirm: "Are You Sure?") do %>
   <i class="icon-trash icon-white"> </i> Delete
   <% end %>       
    </div>
<hr>
   
<div class="row">
   <div class="span6 customer_left_span_properties">
   <h4><span class="customer">Account details</span></h4>
   <div class="row">
   <div class="span3">
   <strong>Opened On</strong>
   </div>
   <div class="span3"> : <%= @fd.openedon.strftime("%d/%m/%Y") %></div>
   </div>
   
   <div class="row">
   <div class="span3">
   <strong>Deposit Amount</strong>
   </div>
   <div class="span3"> : <%= @fd.depamt %></div>
   </div>

   <div class="row">
   <div class="span3">   
   <strong>No Of Months</strong>
   </div>
   <div class="span3"> : <%= @fd.noy %></div>
   </div>

   <div class="row">
   <div class="span3">
   <strong>Rate Of Interest</strong>
   </div>
   <div class="span3"> : <%= @fd.roi %></div>
   </div>

   <div class="row">
   <div class="span3">   
   <strong>Monthly Interest</strong>
   </div>
   <div class="span3"> : <%= @fd.interest %></div>
   </div>
  
   <div class="row">
   <div class="span3">
   <strong>Maturity Date</strong>
   </div>
   <div class="span3"> : <%= @fd.md.strftime("%d/%m/%Y") %></div>
   </div>
   </div>
   </div>
   </div>
</hr>
</div>
</div>